@import url('https://api.fontshare.com/v2/css?f[]=panchang@300,400,500,600,700,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

html {
  scroll-behavior: smooth;
}